.sing-up
  %h2 新規登録
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :ニックネーム,class:"sign-up"
      %br/
      = f.text_field :nickname, autofocus: true,class:"sign-up-box"
    .error-signup-1
    .field
      = f.label :メールアドレス,class:"sign-up"
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email",class:"sign-up-box"
    .error-signup-2
    .field
      = f.label :パスワード,class:"sign-up"
      %br/
      = f.password_field :password, autocomplete: "new-password",placeholder:"6文字以上",class:"sign-up-box" 
    .error-signup-3
    .actions-signup
      = f.submit "完了",class:"singup-btn"
  -# = render "devise/shared/links"
