.edit-contents
  = form_for  @product do |f|
    .edit-one
      %h3 編集する
      .edit-form
        = f.label :店名,class:"edit_text"
        = f.text_field :shop_name,placeholder:"10文字以内",class:"edit-link"
      .edit-form
        = f.label :スタイル,class:"edit_text"
        = f.text_field :style_name
      .edit-form
        = f.label :説明文,class:"edit_label"
        = f.text_field :text,placeholder:"20文字以内",class:"edit-links"
      .edit-form
        = f.label :動画,class:"edit_item"
        = f.file_field :video,class:"video-edit-form"
      .edit-form
        = f.label :画像,class:"edit_item"
        = f.file_field :image,class:"video-edit-form"
      .actions-edits
        = f.submit "SENT",class:"btn_edit"
