.pickup-contents
  .pickup-title
    ピックアップスタイル
  .bob-style
    ボブスタイル
  .bob-contents
    - @bob_style.each do |style|
      = image_tag style.image.url,width: 200
      = video_tag style.video_url.to_s,loop: true, controls: true, width: 250,class:"mv" 
      = link_to product_path(style.id) 
  .short-style
    ショートスタイル
  .short-contents
    - @short_style.each do |style|
      = image_tag style.image.url,width: 200
      = video_tag style.video_url.to_s,loop: true, controls: true, width: 250,class:"mv" 
  .mid-style
    ミディアムスタイル
  .mid-contents
    - @mid_style.each do |style|
      = image_tag style.image.url,width: 200
      = video_tag style.video_url.to_s,loop: true, controls: true, width: 250,class:"mv" 
  .semlong-style
    セミロングスタイル
  .semlong-contents
    - @semlong_style.each do |style|
      = image_tag style.image.url,width: 200
      = video_tag style.video_url.to_s,loop: true, controls: true, width: 250,class:"mv" 
  .long-style
    ロングスタイル
  .long-contents
    - @long_style.each do |style|
      = image_tag style.image.url,width: 200
      = video_tag style.video_url.to_s,loop: true, controls: true, width: 250,class:"mv" 
  .superlong-style
    スーパーロングスタイル
  .superlong-contents
    - @superlong_style.each do |style|
      = image_tag style.image.url,width: 200
      = video_tag style.video_url.to_s,loop: true, controls: true, width: 250,class:"mv" 
  .hairset-style
    ヘアセットスタイル
  .hairset-contents
    - @hairset_style.each do |style|
      = image_tag style.image.url,width: 200
      = video_tag style.video_url.to_s,loop: true, controls: true, width: 250,class:"mv" 
  