.product-contents
  - @products.each do |product|
    .one-index-product
      = link_to product.user.nickname,user_path(product.user.id),class:"index-user-name"
      = product.style_name
      = product.shop_name
      = product.text
      = link_to '詳細', "/products/#{product.id}", method: :get,class:"contents-btn"
      - if user_signed_in? && current_user.id == product.user_id
        %i.far.fa-edit.edit-icon
          = link_to '編集', "/products/#{product.id}/edit", method: :get,class:"contents-btn"
        %i.far.fa-trash-alt.delete-icon
          = link_to '削除', "/products/#{product.id}", method: :delete,class:"contents-btn"
      .video-index
        = video_tag product.video_url.to_s,loop: true, controls: true, width: 300,class:"mv" if product.video.present?
      .img-index
        = image_tag product.image.url,loop: true, controls: true, width: 300,class: "img" if product.image.present?
    
