.pickup-contents
  .pickup-title
    .top-title
      ピックアップスタイル
  .genres-link
    .bob-style
      = link_to "ボブ","/stylegenres/1"
    .bob-contents
      - @bob_style.each do |style|
        .one-index-contents
          .shop_name-index
            店名：
            = style.shop_name
          .video-index-product
            = video_tag style.video_url.to_s,loop: true, controls: true, width: 300,class:"mv"
          %i.far.fa-clipboard.index-icon
            = link_to '詳細',"/products/#{style.id}"
    .short-style
      = link_to "ショート","/stylegenres/2"
    .short-contents
      - @short_style.each do |style|
        .one-index-contents
          .shop_name-index
            店名：
            = style.shop_name
          .video-index-product
            = video_tag style.video_url.to_s,loop: true, controls: true, width: 300,class:"mv"
          %i.far.fa-clipboard.index-icon
            = link_to '詳細',"/products/#{style.id}",class:"stylename"
    .mid-style
      = link_to "ミディアム","/stylegenres/3"

    .mid-contents
      - @mid_style.each do |style|
        .one-index-contents
          .shop_name-index
            店名：
            = style.shop_name
          .video-index-product
            = video_tag style.video_url.to_s,loop: true, controls: true, width: 300,class:"mv"
          %i.far.fa-clipboard.index-icon
            = link_to '詳細',"/products/#{style.id}",class:"stylename"
    .semlong-style
      = link_to "セミロング","/stylegenres/4"

    .semlong-contents
      - @semlong_style.each do |style|
        .one-index-contents
          .shop_name-index
            店名：
            = style.shop_name
          .video-index-product
            = video_tag style.video_url.to_s,loop: true, controls: true, width: 300,class:"mv"
          %i.far.fa-clipboard.index-icon
            = link_to '詳細',"/products/#{style.id}",class:"stylename"
    .long-style
      = link_to "ロング","/stylegenres/5"

    .long-contents
      - @long_style.each do |style|
        .one-index-contents
          .shop_name-index
            店名：
            = style.shop_name
          .video-index-product
            = video_tag style.video_url.to_s,loop: true, controls: true, width: 300,class:"mv"
          %i.far.fa-clipboard.index-icon
            = link_to '詳細',"/products/#{style.id}",class:"stylename"
    .superlong-style
      = link_to "スーパーロング","/stylegenres/6"

    .superlong-contents
      - @superlong_style.each do |style|
        .one-index-contents
          .shop_name-index
            店名：
            = style.shop_name
          .video-index-product
            = video_tag style.video_url.to_s,loop: true, controls: true, width: 300,class:"mv"
          %i.far.fa-clipboard.index-icon
            = link_to '詳細',"/products/#{style.id}",class:"stylename"
    .hairset-style
      = link_to "ヘアセット","/stylegenres/7"

    .hairset-contents
      - @hairset_style.each do |style|
        .one-index-contents
          .shop_name-index
            店名：
            = style.shop_name
          .video-index-product
            = video_tag style.video_url.to_s,loop: true, controls: true, width: 300,class:"mv"
          %i.far.fa-clipboard.index-icon
            = link_to '詳細',"/products/#{style.id}",class:"stylename"

  = render 'footer'