.product-new-contents
  .one-new-product
    = form_for @product do |f|
      %h3 掲載する
      .new-form
        = f.label :タイトル（必須）,class:"out-label"
        = f.text_field :title,class:"text-box"
      .error-new-11
      .new-form
        = f.label :店名（必須）,class:"out-label"
        = f.text_field :shop_name,class:"text-box"
      .error-new-1
      .new-form
        = f.label :説明文（必須）,class:"form-label"
        = f.text_field :text,class:"text-box"
      .error-new-2
      .new-form
        = f.label :動画（必須）,class:"video-label"
        = f.file_field :video,class:"video-form"
      .error-new-3
      .new-form
        = f.label :スタイリスト名（必須）,class:"form-label"
        = f.text_field :stylest_name,class:"text-box"
      .error-new-4
      .new-form
        = f.label :コスメ,class:"out-label"
        = f.text_field :cosme,class:"text-box"
      .error-new-9
      .new-form
        = f.label :リンク,class:"out-label"
        = f.text_field :link_url,class:"text-box"
      .error-new-10
      .new-item-form
        = f.label :スタイル（必須）,class:"select-label"
        %select.stylename-select-box{name: "stylegenre_id"}
          %option{value: ""} ----
          %option{value: 1} ボブ
          %option{value: 2} ショート
          %option{value: 3} ミディアム
          %option{value: 4} セミロング
          %option{value: 5} ロング
          %option{value: 6} スーパーロング
          %option{value: 7} ヘアセット
      .error-new-5
      .new-item-form
        = f.label :アイテム（必須）,class:"select-label"
        %select.items-select-box{name: "item_id"}
          %option{value: ""} ----
          %option{value: 1} ストレートアイロン
          %option{value: 2} コテ32mm
          %option{value: 3} コテ28mm
          %option{value: 4} コテ18mm
          %option{value: 5} コテ16mm
          %option{value: 6} ヘアゴム         
          %option{value: 7} なし 
      .error-new-6
      .new-item-form
        = f.label :カラー（必須）,class:"select-label"
        %select.items-select-box{name: "color_id"}
          %option{value: ""} ----
          %option{value: 1} アッシュ系
          %option{value: 2} ブラウン系
          %option{value: 3} レッド系
          %option{value: 4} マット系
          %option{value: 5} バイオレッド系
          %option{value: 6} イエロー系
          %option{value: 7} オレンジ系
          %option{value: 8} なし
      .error-new-7
      .new-item-form
        = f.label :パーマ（必須）,class:"select-label"
        %select.items-select-box{name: "perm_id"}
          %option{value: ""} ----
          %option{value: 1} ホットパーマ
          %option{value: 2} コールドパーマ
          %option{value: 3} なし
      .error-new-8
      .actions-new
        = f.submit "SENT",class:"sent-btn"