.search-products-contents
  .search-product-title
    .title-name
      スタイル一覧
  .sasasa
    - @products.each do |product|
      .one-search-product
        .shop_name-searchproduct
          店名：
          = product.shop_name
        .video-searchproduct
          = video_tag product.video_url.to_s,loop: true, controls: true, width: 300
        %i.far.fa-clipboard.show-second-icon
          = link_to '詳細',"/products/#{product.id}",class:"stylename"
    .page_tag
      = paginate(@products)