.show-product-contents
  .video-contents
    = video_tag @product.video_url.to_s,loop: true, controls: true, width: 700, id: "mv" if @product.video.present?

  .show-tweet-name
    投稿者
    = link_to @product.user.nickname,"/users/#{@product.user.id}",class:"tweet-user_name"
    .link_shownav
      - if user_signed_in? && current_user.id == @product.user_id
        = link_to '編集', "/products/#{@product.id}/edit", method: :get,class:"tweet_show-edit"
        = link_to '削除', "/products/#{@product.id}", method: :delete,class:"tweet_show-delete"
    %ul.list-show
      %li
        説明文　：
        = @product.text
      %li
        店名　：
        = @product.shop_name   
      %li
        コスメ　：
        = @product.cosme
      %li
        アイテム　：
        = @item.name
      %li
        スタイリスト　：
        = @product.stylest_name 
      %li
        カラー　：
        = @color.name 
      %li
        パーマ　：
        = @perm.name 
      %li
        スタイル　：
        = @stylegenre.name  
    