!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title NextBeauty
    = csrf_meta_tags
    = csp_meta_tag
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
  .header
    .header-name
      = link_to "Next-Beauty",root_path
      - if user_signed_in?
        = link_to "ログアウト" ,destroy_user_session_path, method: :delete,class:"header-link"
        = link_to "マイページ","/users/#{current_user.id}", method: :get,class:"header-link"
        = link_to "掲載する" ,"/products/new", method: :get,class:"header-link"
        = link_to "スタイル一覧" ,search_products_path,class:"header-link"
        = link_to "ユーザー検索",search_users_path,class:"header-link"
      - else
        = link_to "ログイン",new_user_session_path,class:"log-btn"
        = link_to "新規登録",new_user_registration_path,class:"log-btn"
  %body
    = yield
